.logincontainer{
    z-index: 9000;
    border: 5px solid #ff7518;
    border-radius: 45px;
    height: 400px;
    width: 52%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    background-color: #2f2f2f;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    color: white;

}

.logintitle{
    font-size: 25px;
}

.loginInput{
    display: flex;

}
.logininputlabel{
    margin-right: 10px;
    margin-bottom: 20px;
    height: 20px;
    width: 80px;
}
.loginInputField{
    margin-bottom: 10px;
    height: 20px;
    width: 220px;
}
.loginSubmitContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
#loginsub{
    width: 200px;
    height: 25px;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #ff7518;
    color: #2f2f2f;
    border: 2px solid black;
    border-radius: 4px 4px 8px;
    box-shadow: 2px 2px 4px;
    cursor: pointer;
}

#demousersub{
    width: 200px;
    height: 25px;
    background-color: #ff7518;
    color: #2f2f2f;
    border: 2px solid black;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 4px 4px 8px;
    cursor: pointer;
}
