.heading-container {
    display: flex;
    justify-content: center;
    color: #ff7518;
    margin-top: 40px;
}


.forcast-container {
    display: flex;
    justify-content: center;
    color: #ff7518;
    gap: 35px;
}


.forcast-container-weather{
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px
}



.forcast-container-weather-date {
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
}


.forcast-container-weather-weather {
    padding-bottom: 10px;
}
