.awn_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    height: 200px;
    z-index: 0;
    /* border: 2px solid red; */
}
.five-day-forcast-container {
    z-index: 500;
    width: 100%;

}
.awn_logo {
    text-align: center;
    z-index: 0;
}

.awn_logo img {
    max-width: 50%;
    max-height: 50%;
    z-index: 0;
}

#story-highlights-parent {
    background-color: #2f2f2f;
    padding-top: 15px;
    padding-bottom: 40px;
}

#story-highlights-container {
    width: 700px;
    height: 350px;
    overflow-y: scroll;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BF0101;
    border-radius: 5px;
}

#individual-story-preview-container {
    border: 2px solid blue;
    border-radius: 20px;
    /* padding: 15px; */
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.story-title-link-preview, .story-preview-read-more {
    font-family: 'Montserrat', sans-serif;
}

.story-title-link-preview {
    text-decoration: none;
    color: white;
}

#story-highlights-author-text {
    color: white
}

#story-highlights-author-text, #story-highlights-body-preview {
    font-family: 'Montserrat', sans-serif;
}

#story-highlights-header {
    font-family: 'Montserrat', sans-serif;
    margin-left: 40px;
    color: #ff7518;
    font-size: 25px;
}

#story-highlights-title-div {
    background-color: #2f2f2f;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
}

#single-story-body-container {
    padding: 15px;
}

.individual-story-title-preview {
    padding-left: 15px;
    color: #ff7518
}

#landing-page-parent {
    display: flex;
}

#landing-page-quiz-banner {
    height: 350px;
    background-color: #2f2f2f;
    margin-top: 48px;
}

#banner-div {
    background-color: #2f2f2f;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-page-description-container {
    background-color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: -18px;
    margin-bottom: -20px;
    padding-right: 40px;
    padding-left: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#landing-page-wrapper {
    background-color: #2f2f2f;
}
