.manage-tips-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    color: #ff7518;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(255, 250, 250, 0.887);
    margin-bottom: 0;
}

.mgmContainer{
    min-height: calc(100vh - 265px);
}

#all-tips-h1{
    margin-bottom: 15px;
}
.manage-tips-header {
    background-color: #2f2f2f;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0;
}

.user-tips-individual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
}

.single-tip-title {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff7518;
    margin-bottom: 10px;
}

.tip-update-button {
    background-color: #ff7518;
    border-radius: 8px;

    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;

}
.tip-delete-button {
    background-color: #ff7518;
    border-radius: 8px;

    margin-right: 5px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tip-delete-button:hover {
    cursor: pointer
}

.individual-tips-container {
    /* border: 2px solid blue; */
    margin-bottom: 20px;
}
