#survivor-profile-wrapper {
    background-color: #2f2f2f;
    height: 100%;
}

#survivor-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f2f2f;
    border: 5px solid #ff7518;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.profile-item-container {
    width: 55%;
    text-align: center;
    color: white;
}

.bubble-container {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 0;
    height: 100px;
    margin-bottom: 20px;
}

.bubble-container-header {
    background-color: white;
    color: black;
    margin-top: 0;
    height: 50px;
    border: 1px solid #ff7518;
    font-weight: bold;
}

.bubble-container-header > h3 {
    font-weight: 700;
}

#first-bubble-container {
    height: fit-content;
}

#first-bubble-data, #second-bubble-data {
    height: fit-content;
    /* border: 1px solid red; */
}

#first-profile-item {
    margin-bottom: -10px;
}

#second-profile-item {
    margin-bottom: 10px;
}

#third-bubble-container {
    height: fit-content;
}

.bubble-container-data > p {
    font-size: 15px;
}

#last-bubble-data {
    padding: 10px;
}
