.awn-logo {
  height: auto;
  max-width: 150px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: #2f2f2f;
  border-bottom: #ff7518 5px solid;
  position: relative;
}

.navbar button{
  cursor: pointer;
}

#user-logged-in {
  position: absolute;
  top: 100px;
  padding: 8px;
  right: 20px;
  max-width: 200px;
  background-color: #2f2f2f;
  border: 3px solid black;
  box-shadow: 1px 1px 4px;
  border-radius: 15px;
  z-index: 9999 !important;
  max-height: 300px;
  font-size: 16px;
  flex-direction: column;
  word-wrap: break-word;
}
#user-logged-in button{
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 16px;
}

#user-not-logged-in{
  position: absolute;
  top: 100px;
  padding: 8px;
  right: 20px;
  width: 200px;
  background-color: #2f2f2f;
  border: 3px solid black;
  box-shadow: 1px 1px 4px;
  border-radius: 15px;
  z-index: 55;
  height: 85px;
  align-items: center;
}
#user-not-logged-in button{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 4px;
  font-size: 16px !important;
  text-decoration: none !important;
}

#user-not-logged-in a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.profile-button-container {
  margin-left: 10px;
  z-index: 55

}

.nav-container button{
  background-color:#ff7518;
  border-radius: 10px;
}
.hidden {
  display: none;
}

.navbar {
  color: white
}



.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-left li,
.nav-right li {
  margin: 0 10px;
}

.nav-left a {
  color: black;
  text-decoration: none;
  font-size: 16px
}

nav {
  /* border-bottom: 1px solid black; */
  /* background-color: #2f2f2f; */
  padding-bottom: 0;
}

#nav-bar-home, #nav-bar-forecast, #nav-bar-stories, #nav-bar-tips, #nav-bar-quiz {
  color:#ff7518;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.nav-left-top-bar {
  /* border: 1px solid white; */
  width: 400px;
  display: flex;
  /* justify-content: space-between; */
}

.nav-left-item {
  /* border-bottom: 3px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 200px;
}

#first-span-visible {
  height: 6px;
  /* background-color: red; */
  width: 100px;
  margin-bottom: 0;
}

#first-span-hidden {
  height: 6px;
  background-color: transparent;
  width: 100px;
  margin-bottom: 0;
}

#second-span-visible {
  height: 6px;
  background-color: whitesmoke;
  width: 100px;
}

#second-span-hidden {
  height: 6px;
  background-color: transparent;
  width: 100px;
}

#third-span-visible {
  height: 6px;
  background-color: whitesmoke;
  width: 100px;
}

#third-span-hidden {
  height: 6px;
  background-color: transparent;
  width: 100px;
}

#fourth-span-visible {
  height: 6px;
  background-color: whitesmoke;
  width: 100px;
}

#fourth-span-hidden {
  height: 6px;
  background-color: transparent;
  width: 100px;
}

#fifth-span-visible {
  height: 6px;
  background-color: whitesmoke;
  width: 100px;
}

#fifth-span-hidden {
  height: 6px;
  background-color: transparent;
  width: 100px;
}
