
.all-tips-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2f2f;
    font-family: 'Montserrat', sans-serif;
    color: #ff7518;
    font-size: 25px;
    /* text-shadow: 1px 1px 2px rgba(255, 250, 250, 0.887); */
    margin-bottom: 0;
}

.all-single-tips-container {
    /* border: 2px solid blue; */
    margin-bottom: 20px;
}
.single-tip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 30px;
}

.single-tip-header {
    background-color: #2f2f2f;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0;
}


.manage-tips-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff7518; 
}

.single-tip-title {
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ff7518; 
    margin-bottom: 10px;
}

.single-tip-title:hover {
    cursor: pointer
}

.single-tip-author {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.single-tip-author:hover {
    cursor: pointer
}

.single-tip-body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}


.single-tip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}

/* .user-info-container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
} */

.single-tip-weather-category {
    color: white;
}
.tip-info {
    line-height: 150%;
    min-height: 122px;
    color: black;
    word-wrap: break-word;
    text-align: center;
}

.tip-body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}
.submit-tip-button {
    background-color: lightgray;
}

.create-new-tip-button {
    height: 40px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.create-new-tip-button:hover {
    cursor: pointer;
}

.remove-nav-link-underline {
    text-decoration: none;
}