.update-modal-overlay {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}


.update-modal-content {
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: 5px solid #ff7518;
    border-radius: 45px;
    width: 500px;
    align-items: center;
    justify-content: center;
    height: auto;
}

.update-tip-inputs-container {
    /* border: 2px blue solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.update-modal-buttons {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.update-modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.update-button {
    background-color: #ff7518;
    color: white;
    font-size: 14px;
}

.cancel-button {
    color: black;
    background-color: #f4f4f4;
    font-size: 14px;
}

.weather-category-container {
    margin-bottom: 20px;
}

.update-modal-content .text-area-input {
    /* border: 2px red solid; */
    width: 100%;
    margin-bottom: 20px;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
}
.update-modal-content .textareacontainer{
    width: 400px;
}
.update-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 8900;
}
