body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bodycontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

 .mappagebodycontainer{
  background-color: #2f2f2f;
  height: 60%;
  width: 100%;
  border: 5px solid #ff7518;
  /* overflow: visible; */
}

.mappagebodycontainer .titleinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: #ff7518;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgba(255, 250, 250, 0.887);
  }


  .mappagebodycontainer .mapcontainer{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mappagebodycontainer .mapmap{
  width: 60%;
  height: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px black;


   }



.mappagebodycontainer .auto-search-wrapper{
  width: 50%;
  margin-top: 20px;
  box-shadow: 4px 4px 8px black;
  background-color: #2f2f2f;
  border: 2px solid black;
  margin-bottom: 20px;
}

.mappagebodycontainer .auto-search-wrapper > input{
  background-color: #2f2f2f;
  color: #ff7518;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mappagebodycontainer .auto-search-wrapper > li {
  background-color: #3a3939;
  font-family: 'Montserrat', sans-serif;

}

.mappagebodycontainer .auto-search-wrapper ul li{
  background-color: #3a3939;
  font-family: 'Montserrat', sans-serif;
  color:#ff7518;
  border: .5px solid black;
}

.mappagebodycontainer .auto-results-wrapper{
  background-color: #3a3939;
  font-family: 'Montserrat', sans-serif;
  color:#ff7518;
  border: 1px solid rgb(218, 218, 218);
  /* z-index: 1000; */

}
.mappagebodycontainer .leaflet-popup {
  /* margin-bottom: 5px !important; */
  /* display: flex; */



  /* bottom: 20px; */

}
.mappagebodycontainer .leaflet-popup-tip{
  margin-bottom: 10px;
}
.mappagebodycontainer .leaflet-popup-content-wrapper {
  /* margin-bottom: 20px; */
}

.detailed_weather{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin-left: 30px;

}

.auto-results-wrapper.auto-is-active {
  /* overflow: visible; */
}

.mappagebodycontainer .leaflet-touch{
  z-index: 300;
}
/*
.mappagebodycontainer .leaflet-marker-icon{
  margin-left: -17px;
  margin-top: -43px;
  width: 30px;
  height: 30px;
  transform: translate3d(-192px, 127px, 0px);
  z-index: 127;
  outline-style: none;
} */
