#delete-story-modal-container {
     z-index: 9000;
    border: 5px solid #ff7518;
    border-radius: 45px;
    height: 35%;
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #2f2f2f;
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    color: whitesmoke;
    margin: auto;
}

#delete-story-modal-header {
    text-align: center;
}

#delete-story-modal-buttons {
    /* border: 2px solid red; */
    padding: 5px;
}

#delete-story-button {
    padding: 5px;
}

.delete-story-button-yes {
    background-color: #ff7518;
    color: white
}
